.mapLink svg {
    width: 32px;
    height: 32px;
}

.mapLink {
    margin-left: .5em;
}

@media (max-width: 600px) {
    .mapLink {
        margin-left: .25em;
    }

    .mapLink svg {
        width: 16px;
        height: 16px;
    }
}