.CityWeatherItem {
    margin: auto auto 1em auto;
    border-bottom: 1px dashed black;
    background: var(--main-bg-color);
    padding: 0.25em 1em;
}

.CityWeatherClick {
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .CityWeatherItem {
        background: var(--main-fg-color);
    }
}

@media (max-width: 600px) {
    .CityWeatherItem {
        padding: 0.25em;
    }
}

.CityWeatherItemHeader {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.CityWeatherItemHeader button {
    border: 0;
}

.CityWeatherItemHeader h1 {
    flex: 1;
}

.DailyWeathertItemDay {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.CityWeatherItemList {
    display: flex;
    overflow-x: auto;
}

.CityWeatherListItem {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.5em;
    margin-bottom: 10px;
}

.CityWeatherListItem:not(:first-child) {
    border-left: 1px solid var(--main-fg-color);
}

@media (prefers-color-scheme: dark) {
    .CityWeatherListItem:not(:first-child) {
        border-color: var(--main-bg-color);
    }
}
