.CurrentWeather {
    font-size: 1.2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 600px) {
    .CurrentWeather {
        grid-template-columns: repeat(2, 1fr);
    }

    .CurrentWeatherTitle {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .CurrentWeatherAnimatedIcon {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
}

.CurrentWeather div {
    justify-self: center;
    place-self: center;
}

.CurrentWeatherTempAndFeelsLike {
    margin-bottom: 0.6em;
}

.CurrentWeatherRealTemp {
    font-size: 2em;
}

.CurrentWeatherIcon {
    margin-right: 0.5em;
}

.CurrentWeatherHumidity,
.CurrentWeatherWind,
.CurrentWeatherUV {
    display: flex;
    font-size: 0.8em;
    margin: 0.2em auto;
}

.CurrentWeatherWindCursor {
    margin-left: 0.25em;
}

.CurrentWeatherUVValue {
    margin-left: 0.2em;
}

.CurrentWeatherUV-low {
    color: green;
}

.CurrentWeatherUV-moderate {
    color: brown;
}

.CurrentWeatherUV-high {
    color: darkorange;
    font-weight: bold;
}

.CurrentWeatherUV-very-high {
    color: red;
    font-weight: bold;
}

.CurrentWeatherUV-extreme {
    color: purple;
    font-weight: bold;
}

.CurrentWeatherSunRiseAndSet {
    font-size: 0.8em;
    display: flex;
}

.CurrentWeatherSunRiseIcon {
    margin-right: 4px;
}

.CurrentWeatherSunsetIcon {
    margin: auto 4px auto 8px;
}

@media (prefers-color-scheme: dark) {
    .CurrentWeatherUV-low {
        color: lightgreen;
    }

    .CurrentWeatherUV-moderate {
        color: orange;
    }

    .CurrentWeatherUV-extreme {
        color: deeppink;
    }
}
