.CurrentWeather {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.CurrentWeatherDesc {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
}

@media (min-width: 601px) {
    .CurrentWeatherDesc {
        flex-direction: row;
        align-items: center;
        gap: 3em;
    }

}

.CurrentWeatherTempAndFeelsLike {
    margin-bottom: .6em;
}

.CurrentWeatherRealTemp {
    font-size: 2em;
}

.CurrentWeatherIcon {
    margin-right: .5em;
}

.CurrentWeatherHumidity,
.CurrentWeatherWind,
.CurrentWeatherUV {
    display: flex;
    font-size: .8em;
    margin: 0.2em auto;
}

.CurrentWeatherWindCursor {
    margin-left: .25em;
}

.CurrentWeatherUVValue {
    margin-left: .2em;
}

.CurrentWeatherUV-low {
    color: green;
}

.CurrentWeatherUV-moderate {
    color: brown;
}

.CurrentWeatherUV-high {
    color: darkorange;
    font-weight: bold;
}

.CurrentWeatherUV-very-high {
    color: red;
    font-weight: bold;
}

.CurrentWeatherUV-extreme {
    color: purple;
    font-weight: bold;
}

.CurrentWeatherSunRiseAndSet {
    font-size: .8em;
}

.CurrentWeatherSunRiseIcon {
    margin-right: 4px;
}

.CurrentWeatherSunsetIcon {
    margin: auto 4px auto 8px;
}

@media (prefers-color-scheme: dark) {
    .CurrentWeatherUV-low {
        color: lightgreen;
    }

    .CurrentWeatherUV-moderate {
        color: orange;
    }

    .CurrentWeatherUV-extreme {
        color: deeppink;
    }

}