a h1,
a:hover h1 {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

header h1 {
    flex: 1;
}

.title {
    display: flex;
    line-height: 3em;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.logo svg {
    width: 64px;
    height: 64px;
}

header .headerIcon {
    border-bottom: none;
    padding: .8em .5em;
}

@media (max-width: 600px) {
    header {
        gap: .5em;
    }

    .logo {
        margin-right: .5em;
    }

    .logo svg {
        width: 48px;
        height: 48px;
    }
}