a h1,
a:hover h1 {
    color: var(--main-fg-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

header h1 {
    flex: 1;
}

.title {
    display: flex;
    line-height: 3em;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.logo svg {
    width: 64px;
    height: 64px;
}

header .headerIcons {
    display: flex;
    align-items: center;
}

header .headerIcon {
    padding: 0 0.5em;
}

header .headerRefreshIcon {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 4px 0 4px;
}

@media (prefers-color-scheme: dark) {
    a h1,
    a:hover h1 {
        color: var(--main-bg-color);
    }
}

@media (max-width: 600px) {
    header {
        gap: 0.5em;
    }

    .logo {
        margin-right: 0.5em;
    }

    .logo svg {
        width: 48px;
        height: 48px;
    }
}
