.SearchCity form {
    display: flex;
    flex-direction: column;
}

.SearchCity label,
.SearchCity .submit {
    display: inline-flex;
    align-items: center;
    margin: .5em 0;
    gap: .5em;
}

.SearchCity .submit {
    flex-direction: column;
    align-items: center;
}

.SearchCityReactSelect {
    flex-grow: 1;
}